.start-page{
    background-image: url(../images/Bg.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 100px;
    border: none;
    background-color: #f79837;
    font-weight: 700;
}

/* login and sign up page */

/* .auth{
    background-image: url(../images/Bg.png);
    background-color: chocolate;
    min-height: 100vh;
    background-position: top center;
} */